<div class="card">

    <div class="card-body">
        <h5 class="card-title" style="text-align: center;">Alterar Senha</h5>
        <h5 class="card-title" style="text-align: center;">Olá </h5>
        <br>
    
    <form method="post" action="?pagina=alterarsenha&metodo=alterar">
    
                <div class="form-group row">
                    <label class="col-md-2 text-end control-label col-form-label">Senha Antiga:</label>
                        <div class="col-sm-3">
                            <input type="password" style="margin-left: 10px;" name="senha-antiga" class="form-control" placeholder="">
                        </div>
                </div>
    
                <div class="form-group row">
                    <label class="col-md-2 text-end control-label col-form-label">Nova Senha:</label>
                        <div class="col-sm-3">
                            <input type="password" style="margin-left: 10px;" name="nova-senha" class="form-control" placeholder="">
                        </div>
                </div>

                <div class="border-top">
                    <div class="card-body">
                        <button type="submit" name="enviar" class="btn btn-primary">Alterar</button>
                    </div>
                </div>
    
</div>