<div class="card">
    <div class="card-body">
        <h5 class="card-title" style="text-align: center;">Controle Diário de Equipamento - Grande Porte</h5>
        <br>
    <form method="post" action="?pagina=c_grandeporte&metodo=insert">
        <div class="form-group row">
        <label for="fname"class="col-md-2 text-end control-label col-form-label">Turno: </label>
            <div class="col-lg-3">
                <select name="turno" class="select2 form-select shadow-none" style="width: 100%; height:36px;margin-left: 10px;" required>
                    <option value="">Escolha o Turno...</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        
                </select>
            </div>

            <label class="col-md-1"></label>
            <label for="fname"class="col-md-1 text-end control-label col-form-label">Data:</label>
            <div class="col-lg-3">
            <input type="data" style="margin-left: 10px;" name="data" class="form-control" id="datepicker-autoclose" required>
            
            </div>
        </div>

        <div class="form-group row">
        <label for="fname"class="col-md-2 text-end control-label col-form-label">Equipamento: </label>
            <div class="col-lg-3">
                <select name="id_emp" class="select2 form-select shadow-none" style="width: 100%; height:36px;margin-left: 10px;">
                    <option value="">Escolha um Equipamento...</option>
                    {% for empi in empilhadeira %}
                        <option value='{{empi.nome_emp}}'>{{empi.nome_emp}}</option>
                    {% endfor %}
                </select>
            </div>
            <label class="col-md-1"></label>
            <label for="fname"class="col-md-1 text-end control-label col-form-label">Operador:</label>
            <div class="col-lg-3">
                <select name="operador" class="select2 form-select shadow-none" style="width: 100%; height:36px;margin-left: 10px;">
                    <option value="">Escolha um Operador...</option>
                    {% for opera in operador %}
                        <option value='{{opera.nome}}'>{{opera.nome}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label for="fname"class="col-md-3 text-end control-label col-form-label">Horímetro Inícial</label>
                <div class="col-sm-2">
                    <input name="hori_inicio" style="margin-left: 10px;" type="text" class="form-control" id="hori_inicio" placeholder="">
                </div>
                    <label for="fname" class="col-md-3 text-end control-label col-form-label">Horímetro Final</label>
                <div class="col-sm-2">
                    <input name="hori_final" style="margin-left: 10px;" type="text" class="form-control" id="hori_final" placeholder="">
                </div>
        </div>

            <div class="form-group row">
                <label for="fname"class="col-md-3 text-end control-label col-form-label">Horário inicial do Trabalho</label>
                <div class="col-sm-2">
                    <input name="inicio" type="time" class="form-control" id="inicio" style="margin-left: 10px;" placeholder="">
                </div>
                <label for="fname"
                    class="col-md-3 text-end control-label col-form-label">Horário Final do Trabalho</label>
                <div class="col-sm-2">
                    <input name="final" type="time" class="form-control" id="final" style="margin-left: 10px;" placeholder="">
                </div>
            </div>

            <div class="form-group row">
                <label for="fname"
                    class="col-md-3 text-end control-label col-form-label">Horímetro Abastecimento</label>
                <div class="col-sm-2">
                    <input name="hori_abastecimento" type="text" class="form-control" id="hori_abastecimento" style="margin-left: 10px;" placeholder="">
                </div>
                <label for="fname"
                    class="col-md-3 text-end control-label col-form-label">Quantidade</label>
                <div class="col-sm-2">
                    <input name="quantidade" type="text" class="form-control" id="quantidade" style="margin-left: 10px;" placeholder="">
                </div>
            </div>

                <div class="form-group row">
                    <div class="col-md-9"></div>
                </div>
        </div>
</div>

    <div class="card">
        <div class="card-body">
            <div class="form-group row">
                <h5 style="text-align: center;">Verificar os Itens Abaixo Por Favor(Marcar Apenas um De Cada Tipo!):</h5>
            </div>

            <div class="form-group row">
                <label for="fname"class="col-md-2 text-end control-label col-form-label">Óleo Hidráulico: </label>
                    <div class="col-lg-3">
                        <select name="oleo" class="select2 form-select shadow-none" style="width: 100%; height:36px;margin-left: 10px;">
                            <option value="">Escolha um...</option>
                                <option value='OK'>OK</option>
                                <option value='Vazando'>Vazando</option>
                                <option value='Baixo'>Baixo</option>
                        </select>
                    </div>
                    <label for="fname"class="col-md-2 text-end control-label col-form-label">Óleo do Motor:</label>
                    <div class="col-lg-3">
                        <select name="motor" class="select2 form-select shadow-none" style="width: 100%; height:36px;margin-left: 10px;">
                            <option value="">Escolha um...</option>
                                <option value='OK'>OK</option>
                                <option value='Vazando'>Vazando</option>
                                <option value='Baixo'>Baixo</option>
                        </select>
                    </div>
            </div>

            <div class="form-group row">
                <label for="fname"class="col-md-2 text-end control-label col-form-label">Óleo Trasmissão: </label>
                    <div class="col-lg-3">
                        <select name="transmissao" class="select2 form-select shadow-none" style="width: 100%; height:36px;margin-left: 10px;">
                            <option value="">Escolha um...</option>
                                <option value='OK'>OK</option>
                                <option value='Vazando'>Vazando</option>
                                <option value='Baixo'>Baixo</option>
                        </select>
                    </div>
                    <label for="fname"class="col-md-2 text-end control-label col-form-label">Água Radiador:</label>
                    <div class="col-lg-3">
                        <select name="agua" class="select2 form-select shadow-none" style="width: 100%; height:36px;margin-left: 10px;">
                            <option value="">Escolha um...</option>
                                <option value='OK'>OK</option>
                                <option value='Vazando'>Vazando</option>
                                <option value='Baixo'>Baixo</option>
                        </select>
                    </div>
            </div>

            <div class="form-group row">
                <label for="fname"class="col-md-2 text-end control-label col-form-label">Freios: </label>
                    <div class="col-lg-3">
                        <select name="freios" class="select2 form-select shadow-none" style="width: 100%; height:36px;margin-left: 10px;">
                            <option value="">Escolha um...</option>
                                <option value='OK'>OK</option>
                                <option value='Vazando'>Vazando</option>
                                <option value='Baixo'>Baixo</option>
                        </select>
                    </div>
                    <label for="fname"class="col-md-2 text-end control-label col-form-label">Mangueiras:</label>
                    <div class="col-lg-3">
                        <select name="mangueiras" class="select2 form-select shadow-none" style="width: 100%; height:36px;margin-left: 10px;">
                            <option value="">Escolha um...</option>
                                <option value='OK'>OK</option>
                                <option value='Vazando'>Vazando</option>
                                <option value='Baixo'>Baixo</option>
                        </select>
                    </div>
            </div>


    </div>
</div>

    <div class="card">
        <div class="card-body">
        <div class="form-group row">
            <h5 style="text-align: center;">Pneus: </h5>
        </div>

        <div class="form-group row">
            <label for="fname"class="col-md-4 text-end control-label col-form-label">Pneu Dianteiro Esquerdo Externo: </label>
                <div class="col-lg-2">
                    <select name="desquerdoe" class="select2 form-select shadow-none" style="width: 100%; height:36px;margin-left: 10px;">
                        <option value="">Escolha um...</option>
                            <option value='OK'>OK</option>
                            <option value='Gasto'>Gasto</option>
                            <option value='Rachado'>Rachado</option>
                            <option value='Deformado'>Deformado</option>
                    </select>
                </div>
                <label for="fname"class="col-md-4 text-end control-label col-form-label">Pneu Dianteiro Esquerdo Interno:</label>
                <div class="col-lg-2">
                    <select name="desquerdoi" class="select2 form-select shadow-none" style="width: 100%; height:36px;margin-left: 10px;">
                        <option value="">Escolha um...</option>
                        <option value='OK'>OK</option>
                        <option value='Gasto'>Gasto</option>
                        <option value='Rachado'>Rachado</option>
                        <option value='Deformado'>Deformado</option>
                    </select>
                </div>
        </div>

        <div class="form-group row">
            <label for="fname"class="col-md-4 text-end control-label col-form-label">Pneu Dianteiro Direito Externo: </label>
                <div class="col-lg-2">
                    <select name="ddireitoe" class="select2 form-select shadow-none" style="width: 100%; height:36px;margin-left: 10px;">
                        <option value="">Escolha um...</option>
                            <option value='OK'>OK</option>
                            <option value='Gasto'>Gasto</option>
                            <option value='Rachado'>Rachado</option>
                            <option value='Deformado'>Deformado</option>
                    </select>
                </div>
                <label for="fname"class="col-md-4 text-end control-label col-form-label">Pneu Dianteiro Direito Interno:</label>
                <div class="col-lg-2">
                    <select name="ddireitoi" class="select2 form-select shadow-none" style="width: 100%; height:36px;margin-left: 10px;">
                        <option value="">Escolha um...</option>
                        <option value='OK'>OK</option>
                        <option value='Gasto'>Gasto</option>
                        <option value='Rachado'>Rachado</option>
                        <option value='Deformado'>Deformado</option>
                    </select>
                </div>
        </div>

        <div class="form-group row">
            <label for="fname"class="col-md-4 text-end control-label col-form-label">Pneu Traseiro Esquerdo: </label>
                <div class="col-lg-2">
                    <select name="tesquerdo" class="select2 form-select shadow-none" style="width: 100%; height:36px;margin-left: 10px;">
                        <option value="">Escolha um...</option>
                            <option value='OK'>OK</option>
                            <option value='Gasto'>Gasto</option>
                            <option value='Rachado'>Rachado</option>
                            <option value='Deformado'>Deformado</option>
                    </select>
                </div>
                <label for="fname"class="col-md-4 text-end control-label col-form-label">Pneu Traseiro Direito:</label>
                <div class="col-lg-2">
                    <select name="tdireito" class="select2 form-select shadow-none" style="width: 100%; height:36px;margin-left: 10px;">
                        <option value="">Escolha um...</option>
                        <option value='OK'>OK</option>
                        <option value='Gasto'>Gasto</option>
                        <option value='Rachado'>Rachado</option>
                        <option value='Deformado'>Deformado</option>
                    </select>
                </div>
        </div>

        <div class="form-group row">
            <label for="fname"class="col-md-4 text-end control-label col-form-label">Condições Gerais de Limpeza(Garfos, Grades e etc...): </label>
                <div class="col-lg-4">
                    <select name="limpeza" class="select2 form-select shadow-none" style="width: 100%; height:36px;margin-left: 10px;">
                        <option value="">Escolha um...</option>
                            <option value='Sim'>Sim</option>
                            <option value='Nao'>Não</option>
                            <option value='Limpo'>Limpo</option>
                            <option value='Sujo'>Sujo</option>
                    </select>
                </div>
        </div>

            <div class="form-group row">
                <label for="" style="margin-top: 8px;" class="col-sm-3">Registrar Anormalidades:</label>
                <div class="col-sm-9">
                    <textarea style="margin-left: 10px;" name="anormalidades" class="form-control"></textarea>
                </div>
            </div>

            <div class="border-top">
                <div class="card-body">
                    <button type="submit" name="enviar" class="btn btn-primary">Enviar</button>
                </div>
            </div>
        </form>
    </div>
</div>