<div class="card">
    <div class="card-body">
        <form method="post" action="?pagina=manutencao&metodo=insert">
        <div class="form-group row">
            <h5 style="text-align: center;">Registrar as Manutenções do Equipamento neste Período feitas pelo mecânico:</h5>
        </div>

        <div class="form-group row">
            <label for="fname"class="col-md-3 text-end control-label col-form-label">Equipamento: </label>
                <div class="col-lg-3">
                    <select name="id_emp" class="select2 form-select shadow-none" style="width: 100%; height:36px;margin-left: 10px;">
                            <option value="">Escolha um Equipamento...</option>
                            {% for empi in empi %}
                            <option value="{{empi.id_emp}}">{{empi.nome_emp}}</option>
                            {% endfor %}
                    </select>
                </div>
                    <label for="fname"class="col-md-3 text-end control-label col-form-label">Operador:</label>
                <div class="col-lg-3">
                    <select name="operador" class="select2 form-select shadow-none" style="width: 100%; height:36px;margin-left: 10px;">
                        <option value="">Escolha um Operador...</option>
                        {% for oper in opera %}
                        <option value="{{oper.nome}}">{{oper.nome}}</option>
                        {% endfor %}
                    </select>
                </div>
        </div>

        <div class="form-group row">
                <label for="fname" class="col-md-3 text-end control-label col-form-label">Ordem de Serviço Nº:</label>
                    <div class="col-sm-3">
                        <input type="text" style="margin-left: 10px;" class="form-control" id="ordem_servico" placeholder="" name="ordem_servico">
                    </div>
                <label for="fname" class="col-md-3 text-end control-label col-form-label">Horimetro:</label>
                    <div class="col-sm-3">
                        <input type="text" style="margin-left: 10px;" name="horimetro" class="form-control" id="horimetro" placeholder="">
                    </div>
        </div>

        <div class="form-group row">
            <label for="fname" class="col-md-3 text-end control-label col-form-label">Descrição do Problema: </label>
                <div class="col-sm-9">
                    <input type="text" style="margin-left: 10px;" name="problema" class="form-control" id="problema" placeholder="">
                </div>
        </div>

        <div class="form-group row">
            <label for="fname" class="col-md-3 text-end control-label col-form-label">Serviços Executados: </label>
                <div class="col-sm-9">
                    <input type="text" style="margin-left: 10px;" name="servicos" class="form-control" id="servicos" placeholder="">
                </div>
        </div>

        <div class="form-group row">
            <label for="fname" class="col-md-3 text-end control-label col-form-label">Descrição: </label>
                <div class="col-sm-9">
                    <input type="text" style="margin-left: 10px;" name="descricao" class="form-control" id="descricao" placeholder="">
                </div>
        </div>

        <div class="form-group row">
            <label for="fname" class="col-md-3 text-end control-label col-form-label">Atendimento Inicial:</label>
                <div class="col-sm-3">
                    <input type="text" style="margin-left: 10px;" name="at_inicial" class="form-control" id="at_inicial" placeholder="">
                </div>
            <label for="fname"class="col-md-3 text-end control-label col-form-label">Atendimento Final: </label>
                <div class="col-sm-3">
                    <input type="text" style="margin-left: 10px;" name="at_final" class="form-control" id="at_final" placeholder="">
                </div>
        </div>

</div>

        <div class="border-top">
            <div class="card-body">
                <button type="submit" name="enviar" class="btn btn-primary">Enviar</button>
            </div>
    </form>
        </div>
</div>