<div class="card">
    <form method="post" action="?pagina=C_usuario&metodo=save">
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: center;">Alterar Usuário:</h5>
                        <br>

                        <div class="form-group row" style="text-align: center;">
                            <h5>Por favor insira os Dados Abaixo (os campos com * são o obrigatorios):</h5>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-2 text-end control-label col-form-label" required>Nome: </label>
                            <div class="col-sm-4">
                                <input type="text" name="nome" class="form-control" style="margin-left: 10px;" value="{{nome}}" placeholder="Insira o nome...">
                                <input type="hidden" name="id" class="form-control" style="margin-left: 10px;" value="{{id}}" placeholder="Insira o nome...">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="fname"
                                class="col-md-2 text-end control-label col-form-label" required>Usuário: </label>
                            <div class="col-sm-4">
                                <input type="text" name="usuario" class="form-control" style="margin-left: 10px;" id="usuario" value="{{usuario}}" placeholder="Insira o usuario...">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="fname"
                                class="col-md-2 text-end control-label col-form-label">Email:</label>
                            <div class="col-sm-4">
                                <input type="email" name="email" class="form-control" style="margin-left: 10px;" value="{{email}}" id="email" placeholder="Insira o email...">
                            </div>
                        </div>
                        
                        <div class="form-group row">
                                <label class="col-md-2 text-end control-label col-form-label">Senha:</label>
                                <div class="col-sm-4">
                                    <input type="password" name="senha" style="margin-left: 10px;" class="form-control" placeholder="">
                                    <label style="margin-left: 32px;font-size: 12px;" class="">(Deixar Em Branco Caso não Queira Mudar)</label>
                                </div>
                            </div>

                    <div class="form-group row">
                    <label class="col-md-2 text-end control-label col-form-label">Nivel: </label>
                        <div class="col-sm-4">
                            <select class="select2 form-select shadow-none" value="" name="tipo" style=" height:36px;margin-left: 10px;">
                                {% if tipo == 1 %}
                                    <option selected value='1'>Administrador</option>
                                    <option value='2'>Supervisor</option>
                                    <option value='3'>Jovem Aprendiz</option>
                                    <option value='4'>Portária</option>
                                    <option value='5'>Básica</option>
                                {% elseif tipo == 2 %}
                                    <option value='1'>Administrador</option>
                                    <option selected value='2'>Supervisor</option>
                                    <option value='3'>Jovem Aprendiz</option>
                                    <option value='4'>Portária</option>
                                    <option value='5'>Básica</option>
                                {% elseif tipo == 3 %}
                                    <option value='1'>Administrador</option>
                                    <option value='2'>Supervisor</option>
                                    <option selected value='3'>Jovem Aprendiz</option>
                                    <option value='4'>Portária</option>
                                    <option value='5'>Básica</option>
                                {% elseif tipo == 4 %}
                                    <option value='1'>Administrador</option>
                                    <option value='2'>Supervisor</option>
                                    <option value='3'>Jovem Aprendiz</option>
                                    <option selected value='4'>Portária</option>
                                    <option value='5'>Básica</option>
                                {% else %}
                                    <option value='1'>Administrador</option>
                                    <option value='2'>Supervisor</option>
                                    <option value='3'>Jovem Aprendiz</option>
                                    <option value='4'>Portária</option>
                                    <option selected value='5'>Básica</option>
                                {% endif %}
                                    
                            </select>
                        </div>
                    </div>
                    </div>
                        <div class="border-top">
                            <div class="card-body">
                                <button type="submit" style="margin-left: 10px;" class="btn btn-primary">Alterar</button>
                            </div>
                        </div>
    </form>
</div>