<div class="card">
    <div class="card-body">
        <h5 class="card-title" style="text-align: center;">Entrada Visitantes:</h5>
        <br>
        
        <div class="form-group row" style="text-align: center;">
            <h5>Preencha os dados do Visitante:</h5>
            <h5>Campos Com * São Obrigatórios:</h5>
            <h5 style="color: red;">Proibida Entrada de Visitantes Usando Shorts e Chinelo:</h5>
        </div>
        <form method="post" action="?pagina=entradavisita&metodo=buscar">
            <div class="form-group row">
                <label class="col-md-2 text-end control-label col-form-label">CPF: </label>
                    <div class="col-sm-3">
                        <input type="text" name="cpf" maxlength="11" style="margin-left: 10px;" value='' class="form-control" id="cpf" placeholder="Insira o CPF..." required>
                        <div class="card-body">
                            <button type="submit" name="" style="margin-left:30px" class="btn btn-primary">Buscar Visitante</button>
                        </div>
                    </div>
                </div>
        </form>
                    </div>
                </form>
            </div>