<div class="card">
    <div class="card-body">

        <h5 class="card-title" style="text-align: center;">Gerar Gráficos</h5>
            <br>
                <div class="form-group row">
                    <label class="col-md-2 text-end control-label col-form-label">Dados :  </label>
                    <div class="col-lg-3">
                        <select name="secao" id="secao" class="select2 form-select shadow-none" style="width: 100%; margin-left: 10px; height:36px;margin-bottom: 20px;">
                                <option value="1">Mês Passado e Mes Atual</option>
                                <option value="2">Ultimos 3 Mêses</option>
                                <option value="3">Ultimos 6 Mêses</option>
                                <option value="4">Ultimos 12 Mêses</option>
                        </select>
                    </div>
                    <label class="col-md-2 text-end control-label col-form-label">Cliente :  </label>
                    <div class="col-lg-3">
                        <select name="cliente" id="cliente" class="select2 form-select shadow-none" style="width: 100%; margin-left: 10px; height:36px;margin-bottom: 20px;">
                                <option value="0"             >Todos</option>
                                <option value="Neolubes"      >Neolubes</option>
                                <option value="GreenYellow"   >GreenYellow</option>
                                <option value="RGD"           >RGD</option>
                                <option value="EBES"          >EBES</option>
                                <option value="COMEXPORT"     >COMEXPORT</option>
                                <option value="HELIO-VALGAS"  >HELIO VALGAS</option>
                                <option value="VIAR-PAINEIS"  >VIAR PAINEIS</option>
                        </select>
                    </div>
                <div class="border-top">
                    <div class="card-body">
                        <button type="submit" name="gerar" class="btn btn-primary">Gerar</button>
                    </div>
                </div>
            </div>