<div class="card">
    <div class="card-body">
        <h5 class="card-title">Lista de Empilhadeiras</h5>
        <div class="table-responsive">
            <table id="" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th><b>Empilhadeira</b></th>
                        <th><b>Chassi</b></th>
                        <th><b>Combustivel</b></th>
                        <th><b>Horímetro</b></th>
                        <th><b>Tipo</b></th>
                        <th><b>Editar</b></th>
                        <th><b>Histórico</b></th>
                        <th><b>Excluir</b></th>
                    </tr>
                </thead>
                <tbody>
                        {% for emp in empi %}
                        <tr>
                        <td>{{emp.nome_emp}}</td>
                        <td>{{emp.chassi}}</td>
                        <td>{{emp.comb}}</td>
                        <td>{{emp.horimetro}}</td>
                        {% if emp.combustivel == 4 %}
                        <td>Gasolina</td>
                        {% endif %}
                        {% if emp.combustivel == 3 %}
                        <td>Elétrica</td>
                        {% endif %}
                        {% if emp.combustivel == 2 %}
                        <td>Diesel</td>
                        {% endif %}
                        {% if emp.combustivel == 1 %}
                        <td>Álcool</td>
                        {% endif %}
                        {% if emp.combustivel == 5 %}
                        <td>Outros</td>
                        {% endif %}
                        <td><a href='empilhadeira-edit.php?id_emp={$id_emp}'><i class='mdi mdi-pen' style='font-size:16px;margin-left: 14px;'></i></a></td>
                        <td><a href='listamanutencao.php?id_emp={$id_emp}'><i class='mdi mdi-pen' style='font-size:16px;margin-left: 20px;'></i></a></td>
                        <td><a href='excluirempi.php?id_emp={$id_emp}'><i class='mdi mdi-block-helper' style='font-size:16px;margin-left: 20px;'></i></a></td>
                        </tr>
                        {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
</div>