<div class="card">
    <div class="card-body">
        <h5 class="card-title" style="text-align: center;">Criar Relátorio De Empilhadeiras</h5>
        <br>
        <form action="?pagina=relatorio" method="post" target="_blank">
                    <div class="form-group row">
                            <label class="col-md-2 text-end control-label col-form-label">Data Inicial: </label>
                            <div class="col-sm-3">
                                <input type="date" style="margin-left: 10px;" name="data_inicio" value="" class="form-control" id="" required>
                            </div>
                            <label class="col-md-2 text-end control-label col-form-label">Data Final: </label>
                            <div class="col-sm-3">
                                <input type="date" style="margin-left: 10px;" name="data_final" value="" class="form-control" id="" required>
                            </div>
                    </div>

                    <div class="form-group row">
                    <label class="col-md-2 text-end control-label col-form-label">Equipamento: </label>
                        <div class="col-lg-3">
                            <select name="id_emp" style="margin-left: 10px;" class="select2 form-select shadow-none" style="width: 100%; height:36px;">
                                <option value="0">Todas</option>
                                {% for empi in empi%}
                                <option value="{{empi.id_emp}}">{{empi.nome_emp}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="border-top">
                        <div class="card-body">
                            <button type="submit" name="criar" class="btn btn-primary">Enviar</button>
                        </div>
                    </div>
        </form>
    </div>
</div>