<div class="card">
    <div class="card-body">
        <h5 class="card-title">Lista Usuários</h5>
        <div class="table-responsive">
            <table id="zero_config" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th><b>ID           </b></th>
                        <th><b>Nome         </b></th>
                        <th><b>Email        </b></th>
                        <th><b>Nível        </b></th>
                        <th><b>Data Criação </b></th>
                        <th><b>Editar       </b></th>
                        <th><b>Excluir      </b></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    {% for usu in usu %}
                        <td>{{usu.id}}</td>
                        <td>{{usu.nome}}</td>
                        <td>{{usu.email}}</td>
                            {% if usu.tipo == 1 %}
                                <td>Administrador</td>
                            {% elseif usu.tipo == 2 %}
                                <td>Supervisor</td>
                            {% elseif usu.tipo == 3 %}
                                <td>Jovem Aprendiz</td>
                            {% elseif usu.tipo == 4 %}
                                <td>Portária</td>
                            {% elseif usu.tipo == 5 %}
                                <td>Básica</td>
                            {% endif %}
                        <td>{{usu.date}}</td>
                        <td><a href='?pagina=Usuario&metodo=edit&id={{usu.id}}'><i class='mdi mdi-pen' style='font-size:16px;margin-left: 14px;'></i></a></td>
                        <td><button type="button" data-bs-toggle="modal" data-bs-target="#JanelaModal{{usu.id}}" class="btn btn-danger btn-sm text-white">Excluir</button></td>
                        </tr>

                    {% endfor %}
                    
                    {% for usu in usu %}
                    <div id="JanelaModal{{usu.id}}" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">          
                                
                                <div class="modal-header">
                                    <h2 class="modal-title">Atenção!</h2>
                                    <button type="button" class="btn btn-close" data-bs-dismiss="modal"></button>
                                </div>
                        
                                <div class="modal-body">
                                    
                                    <h4>Excluir Pessoa - {{usu.nome}}?</h4>
                                </div>
            
                                <div class="modal-footer">
                                    <button type="button" data-bs-dismiss="modal" class="btn btn-danger text-white">
                                        Fechar
                                      </button>
                                      <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#JanelaModal">
                                        <a href='?pagina=Usuario&metodo=delete&id={{usu.id}}' style="color: white;">Excluir</a>
                                        </button>
                                </div>

                            </div>
                        </div>
                    </div>

                    {% endfor%}

                </tbody>
            </table>
        </form>
        </div>

    </div>